 body {
    background-image: url('img/i.jpg');
    background-size: cover;
    background-position: center;
  margin: 50px;
  background-color: #F3F3F3;
}

    div#slider {
  overflow: hidden;
  margin: auto;
  width: 50%;
  max-width: 700px;
  max-height: 700px;
}
div#slider div {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  animation: 20s slider infinite;
}
div#slider div img {
  border: 10%;
  height:  20%;
  width: 20%;
  float: left;
}
body {
  margin: 50px;
  background-color: #F3F3F3;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}